<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#1976d2">


    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   

 <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

{{!-- The blog navigation links --}}
{{navigation}}
    
    
{{!-- content --}}
<main id="content">
{{{body}}}
</main>


{{!-- footer --}}
<footer>
<div class="footer">
<div class="footer-text">
<p>example.com &copy; 2018</p>
</div>
</div>
</footer>

<a href="#" class="swifty-top">&uarr;</a>

   {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
   <script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>
   <script type="text/javascript" src="{{asset "js/custom.js"}}"></script>
   <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>

   
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}

</body>
</html>